@import "_vars";

.bg__light-grad{
    background: linear-gradient(0deg, rgba(0, 255, 111, 0.1) 0%, rgba(27, 146, 255, 0.1) 100%), #FFFFFF;
}

.bg__transparent{
    background: transparent;
}

header.bg__transparent{
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.banner__container{
    position: relative;
    &:before{
        content: '';
        display: block;
        position: absolute;
        left: 0;
        bottom: 161px;
        background-image: url(../img/practical/banner-bubble-left.png);
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
        width: 55px;
        height: 55px;
    }
}

.banner .banner__btn{
    margin-bottom: 50px;
}

.da__banner-start{
    background: linear-gradient(90.13deg, #6BD0E0 1.11%, #575CDB 72.12%, #8157DB 99.91%);
    border-radius: 45px;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 6px 32px;
    display: inline-block;
    font-weight: 700;
    margin-bottom: 15px;
    @media(max-width: 500px){
        font-size: 14px;

    }
}

.da__banner-h1{
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    color: $dark;
    span{
        display: block;
        font-weight: 800;
        font-size: 58px;
        line-height: 62px;
        letter-spacing: -0.02em;
    }
    @media(max-width: 991px){
        span{
            font-size: 40px;
            line-height: 1;
        }
    }
    @media(max-width: 768px){
        font-size: 20px;
        span{
            font-size: 26px;
        }
    }
}


.da__banner-h2-grad{
    position: relative;
    padding: 22px 94px 22px 0;
    max-width: 650px;
    font-weight: 800;
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
    color: #fff;
    &:before{
        content: '';
        display: block;
        position: absolute;
        right: 0;
        transform: translateX(20%);
        top: 0;
        height: 100%;
        width: 1500px;
        background: linear-gradient(90.13deg, #6BD0E0 1.11%, #575CDB 72.12%, #8157DB 99.91%);
        z-index: -1;
    }
    @media(max-width: 1200px){
        &:before{
            transform: translateX(0);
        }
    }
    @media(max-width: 991px){
        font-size: 20px;
    }
    @media(max-width: 768px){
        font-size: 18px;
        padding: 15px 20px;
        padding-left: 0;
    }
    @media(max-width: 500px){
        padding: 15px;
        font-size: 14px;
        line-height: 1.4;
        &:before{
            right: -30px;
        }
    }
}

.banner .monitor{
    z-index: 10;
    bottom: -44px;
}

.banner{
    &:after{
        display: none;
    }
}


.da__couch{
    padding: 55px 0;
    padding-top: 110px;
    position: relative;
    &:before{
        content: '';
        display: block;
        position: absolute;
        left: 0;
        bottom: -260px;
        width: 330px;
        height: 330px;
        z-index: -1;
        background-image: url(../img/practical/circle-bg.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .section__title{
        margin-bottom: 50px;
    }
    &__in{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 30px;
    }
    &__item{
        border:  2px solid $blue;
        border-radius: 16px;
        display: flex;
        justify-content: space-between;
        overflow: hidden;
    }
    &__item-left{
        width: 42%;
        img{
            width: 100%;
            display: block;
            max-width: 100%;
        }
    }
    &__item-right{
        width: 58%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        padding: 28px;
    }
    &__item-title{
        font-size: 18px;
        line-height: 28px;
        text-transform: uppercase;
        color: $dark;
        font-weight: 700;
    }
    &__item-positon{
        font-weight: 600;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 0.07em;
        text-transform: uppercase;
        b{
            font-weight: 700;
        }
    }
    &__item-top{
        margin-bottom: 40px;
    }
    &__item-info{
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        padding-top: 35px;
        ul{
            padding: 0;
            margin: 0;
            list-style-type: none;
        }
        li{
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            color: $dark;
            padding-left: 20px;
            position: relative;
            &:before{
                content: '';
                display: block;
                position: absolute;
                left: 0;
                top: 12px;
                transform: translateY(-50%);
                border-radius: 50%;
                background-color: $blue;
                width: 9px;
                height: 9px;
            }
        }
    }
    @media(max-width:1200px){
        &__in{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }
        &__item{
            width: 70%;
        }
    }
    @media(max-width: 768px){
        padding: 50px 0;
        &__item{
            width: 100%;
            flex-direction: column;
            align-items: center;
        }
        &__item-right{
            width: 100%;
            padding: 10px;
            padding-bottom: 30px;
        }
        &__item-top{
            margin-bottom: 20px;
        }
        &__item-info{
            padding-top: 20px;
            width: 100%;
        }
    }
    @media(max-width: 500px){
        &__item-left{
            width: 100%;
            max-width: 300px;
        }
    }
}


.btn-green{
    display: inline-block;
    border: 2px solid transparent;
    border-radius: 100px;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: $dark;
    padding: 22px 64px;
    text-decoration: none;
    transition: background 0.3s ease-in-out;
    background: linear-gradient(90deg, #00ff6f 1.04%, #1bffff 100%);
    text-decoration: none;
    &:hover {
      background: transparent;
      border-color: #303030;
      color: $dark;
      text-decoration: none;
    }
    svg {
      margin-left: 10px;
      transition: all 0.3s ease-in-out;
    }
    @media(max-width: 768px){
        font-size: 13px;
      padding: 5px 20px;
      svg {
        width: 20px;
        transform: translateY(2px);
      }
    }
    @media(max-width: 500px){
        svg {
            display: none;
          }
    }
}
.dark-bg{
    font-size: 18px;
    line-height: 28px;
    text-transform: uppercase;
    color: $blue;
    background-color: $dark;
    display: block;
    display: inline-block;
    font-weight: 700;
    padding: 0 10px;
}

.da__manual{
    padding: 120px 0;
    padding-bottom: 55px;
    &__in{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: flex-start;
    }
    &__left{
        width: 40%;
    }
    &__left-notice{
        font-size: 18px;
        line-height: 28px; 
        color: $dark;
        font-weight: 700;
    }
    .section__title{
        margin-bottom: 28px;
    }
 
    &__right{
        width: 55%;
        padding-left: 20px;
        border-left: 4px solid $dark;
    }
    &__right-text{
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        color: $dark;
    }
    @media(max-width: 1100px){
        &__in{
            flex-direction: column;
            align-items: center;
        }
        &__left{
            width: 100%;
            margin-bottom: 50px;
        }
        &__right{
            width: 100%;
        }
    }
    @media(max-width: 768px){
        padding: 50px 0;
        &__right{
            padding-left: 10px;
            border-left: 2px solid $dark;
        }
        .dark-bg{
            font-size: 14px;
        }
        &__left-notice{
            font-size: 14px;
            line-height: 1.4;
        }
        &__right-text{
            font-size: 14px;
            line-height: 1.4;
        }
    }
}


.certificate{
    padding: 100px 0;
    overflow: hidden;
    &__in{
        display: flex;
        justify-content: space-between;
        position: relative;
        &:before{
            content: '';
            display: block;
            position: absolute;
            left: -261px;
            bottom: 10px;
            width: 320px;
            height: 610px;
            background-image: url(../img/practical/certif-bubble-left.png);
            background-repeat: no-repeat;
            background-position: center;
            z-index: -1;
        }
        &:after{
            content: '';
            display: block;
            position: absolute;
            right: -118px;
            top: 50%;
            transform: translate(100%,-50%);
            width: 195px;
            height: 216px;
            background-image: url(../img/practical/certif-bubble-right.png);
            background-repeat: no-repeat;
            background-position: center;
            z-index: -1;
        }
    }
    .section__title{
        margin-bottom: 50px;
    }
    &__left{
        width: 53%;
        img{
            width: 100%;
            display: block;
            box-shadow: 0px 15px 34px rgba(0, 0, 0, 0.1);
            border-radius: 16px;
            border: 2px solid #FFFFFF;
        }
    }
    &__right{
        width: 39%;
    }
    &__list{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    &__item{
        display: flex;
        align-items: flex-start;
        margin-bottom: 37px;
        &:last-child{
            margin-bottom: 0;
        }
    }
    &__item-left{
        margin-right: 20px;
    }
    &__item-right{
        .title{
            font-weight: 600;
            font-size: 16px;
            line-height: 28px;
            color: $dark;
        }
        .text{
            font-weight: 400;
            font-size: 16px;
            line-height: 28px;
        }
    }
    @media(max-width: 1200px){
        &__in{
            flex-direction: column-reverse;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
        }
        &__right{
            width: 100%;
            margin-bottom: 40px;
        }
        &__left{
            width: 70%;
        }
    }
    @media(max-width: 768px){
        &__item-right{
            .text{
                font-size: 14px;
                line-height: 1.4;
            }
        }
        padding: 50px 0;
        &__left{
            width: 100%;
        }
    }
}


.da__grow{
    padding: 55px 0;
    padding-bottom: 110px;
    background-image: url(../img/practical/grow-bg.png);
    background-repeat: no-repeat;
    background-position: center 55px;
    background-size: 100% auto;
    &__img{
        margin-top: -110px;
        img{
            max-width: 100%;
            width: 100%;
        }
    }
    &__list{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding-bottom: 55px;
    }
    &__item{
        position: relative;
        width: 43%;
        color: $dark;
        font-size: 16px;
        line-height: 28px;  
        font-weight: 400;
        .num{
            position: absolute;
            left: -40px;
            top: -70px;
            font-weight: 400;
            font-size: 200px;
            line-height: 122px;
            color: #F7F7F7;
            transform: rotate(-90deg);
            z-index: -1;
        }        
    }
    &__btn{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    @media(max-width: 991px){
        &__img{
            margin-top: 0;
        }
        &__list{
            flex-direction: column;
            padding-bottom: 30px;
        }
        &__item{
            width: 100%;
            margin-bottom: 30px;
            .num{
                font-size: 150px;
                top: -50px;
            }
            &:last-child{
                margin-bottom: 0;
            }
        }
    }
    @media(max-width: 768px){
        padding-bottom: 55px;
        &__item{
            font-size: 14px;
            line-height: 1.4;
        }
    }
    @media(max-width: 500px){
        &__item{
            .num{
                left: -15px;
            }
        }
    }
}

.forwrap{
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 4.29%, rgba(0, 255, 111, 0.1) 44.88%, rgba(27, 146, 255, 0.1) 100%), #FFFFFF;
}

.card__style{
    background: #F7F7F7;
    border: 2px solid #FFFFFF;
    box-shadow: 6px 6px 12px rgba(102, 102, 102, 0.17);
    border-radius: 16px;
    padding: 23px 25px 20px 25px;
}

.da__fits{
    padding: 55px 0;
    .section__title{
        margin-bottom: 43px;
    }
    &__in{
        display: flex;
        justify-content: space-between;
    }
    &__left{
        position: relative;
        width: 50%;
        img{
            display: block;
            position: absolute;
            right: 0;
            top: 50px;
            transform: translateX(13%);
        }
    }
    &__right{
        width: 48%;
        position: relative;
    }
    &__list{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &__item{
        width: 48%;
        margin-bottom: 25px;
    }
    &__item-img{
        img{
            display: block;
            margin-left: auto;
        }
    }

    &__item-text{
        font-weight: 600;
        font-size: 16px;
        line-height: 28px;
        color: $dark;
    }
    @media(max-width: 1300px){
        &__left{
            width: 40%;
            img{
                max-width: 500px;
            }
        }
        &__right{
            width: 58%;
        }
    }
    @media(max-width: 991px){
        &__in{
            flex-direction: column-reverse;
        }
        &__right{
            width: 100%;
        }
        &__left{
            width: 100%;
            text-align: center;
            img{
                width: 100%;
                margin: 0 auto;
                position: relative;
            }
        }
    }
    @media(max-width: 768px){
        &__item-text{
            font-size: 14px;
            line-height: 1.4;
        }
    }
    @media(max-width: 600px){
        &__item{
            width: 100%;
        }
    }
}


.da__position{
    padding: 55px 0;
    padding-bottom: 110px;
    &__in{
        position: relative;
        &:before{
            content: '';
            display: block;
            position: absolute;
            transform: translateX(-100%);
            bottom: 20px;
            left: -75px;
            width: 279px;
            height: 522px;
            background-image: url(../img/practical/posleft-bubble.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: 100%;
            
        }
    }
    .section__title{
        margin-bottom: 50px;
        position: relative;
        &:before{
            content: '';
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            transform: translateY(-50%);
            background-image: url(../img/practical/posbubble-top.svg);
            width: 175px;
            height: 158px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: 100%;
        }
    }
    &__list{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-bottom: 50px;
        position: relative;
        &:before{
            content: '';
            display: block;
            position: absolute;
            right: -64px;
            bottom: -70px;
            background-image: url(../img/practical/pos-vawe.png);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            width: 120px;
            height: 320px;
        }
    }
    &__item{
        width: 23%;
        position: relative;
        .num{
            font-weight: 800;
            font-size: 16px;
            line-height: 20px;
            text-align: right;
            letter-spacing: 0.15em;
            text-transform: uppercase;
            margin-bottom: 0;
            text-align: right;
            color: $dark;
        }
        .img{
            margin-bottom: 24px;
        }
        .title{
            font-size: 16px;
            line-height: 26px;
            font-weight: 700;
            text-transform: uppercase;
            color: $dark;
            margin-bottom: 6px;
            padding-right: 10px;
            min-height: 52px;
        }
        .text{
            font-weight: 400;
            color: $dark;
            font-size: 16px;
            line-height: 28px;
        }
    }
    @media(max-width: 1200px){
        &__item{
            width: 48%;
            margin-bottom: 30px;
        }
    }
    @media(max-width: 991px){
        &__list{
            padding-bottom: 30px;
        }
    }
    @media(max-width: 768px){
        padding-bottom: 50px;
        &__item{
            .text{
                font-size: 14px;
                line-height: 1.4;
            }
        }
    }
    @media(max-width:600px){
        &__item{
            width: 100%;
            .title{
                min-height: auto;
            }
           
        }
    }
}

.gradient-text{
    position: relative;
    text-transform: uppercase;
    display: block;
   max-width: fit-content;
   margin-bottom: 5px;
   font-size: 24px;
    line-height: 38px;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    span{
        position: relative;
        display: block;
        font-weight: 700;
        padding: 3px 10px;
        background: linear-gradient(
            90deg
            ,#00ff6f 1.04%,#1bffff 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                
    }
    &:before{
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        display: block;
        transform: translate(-50%,-50%);
        background-color: #303030;
        z-index: 0;
    }
    @media(max-width: 991px){
       
        font-size: 20px;
        line-height: 1.4;
    }
    @media(max-width: 768px){
        font-size: 18px;
        line-height: 1.4;
    }
}


.section__title-notice{
    font-weight: 600;
    font-size: 18px;
    line-height: 1.4;
    color: $dark;
    margin-bottom: 50px;
}


.da__program{
    overflow: hidden;
    padding: 55px 0;
    padding-bottom: 110px;
    .section__title{
        margin-bottom: 20px;
    }
   
    &__in{
        position: relative;
    }
    .dots-left{
        position: absolute;
        left: -100px;
        top: 330px;
    }
    .dots-right{
        position: absolute;
        top: 340px;
        right: -160px;
    }
    .dark-bg{
        font-size: 12px;
        padding: 2px 5px;
        line-height: 1.4;
        margin-bottom: 15px;
    }
    &-tab{
        width: 100%;
        padding: 30px 50px;
        display: flex;
        justify-content: space-between;
        transition: all .3s ease;
        margin-bottom: 15px;
    }
    &-tab.active{
        background: linear-gradient(90.13deg, #6BD0E0 1.11%, #575CDB 72.12%, #8157DB 99.91%);
        box-shadow: 6px 6px 12px rgba(102, 102, 102, 0.17);
        border-color: rgba(255, 255, 255, 0.7);
        .da__program-tab-title{
            color: #fff;
        }
        .da__program-tab-about{
            color: #fff;
        }
        .dark-bg{
            color: #fff;
            background: rgba(255, 255, 255, 0.2);
        }
    }
    &-tab-left{
        width: 70%;
    }
    &-tab-right{
        width: 30%;
        text-align: right;
    }
    &-tab-title{
        font-weight: 700;
        font-size: 18px;
        line-height: 1.4;
        text-transform: uppercase;
        color: $dark;
        transition: all .3s ease;
    }
    &-tab-about{
        margin-bottom: 10px;
        font-size: 16px;
        line-height: 28px;
        color: #686868;
        transition: all .3s ease;
    }
    .dark-bg{
        transition: all .3s ease;
    }
    &-tab-open{
        .close{
            display: none;
        }
        a{
            color: #575CDB;
            transition: all .3s ease;
            font-weight: 600;
            font-size: 10px;
            line-height: 18px;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            text-decoration: none;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            span{
                margin-right: 16px;
            }
            &:hover{
                text-decoration: none;
            }
            svg{
                display: block;
                transition: all .3s ease;
                path{
                    transition: all .3s ease;
                }
            }
        }
        a.active{
            color: #fff;
            .close{
                display: block;
            }
            .open{
                display: none;
            }
            svg{
                transform: rotate(-180deg);
                path{
                    fill: #fff;
                }
            }
        }
    }
    &-info-container{
        display: none;
        background: #FFFFFF;
        border: 2px solid #59DBF0;
        border-radius: 8px;
        padding: 30px 45px;
        margin-bottom: 15px;
    }
    &-info-tab{
        padding-bottom: 15px;
        border-bottom: 1px solid rgba(48, 48, 48, 0.1);
        transition: all .3s ease;
        margin-bottom: 27px;
    }
    &-info-tab.active{
        border-color: rgba(89, 220, 240, 0.3);
        .da__program-inner-tab{
            .num{
                color: $blue;
                svg{
                    fill: $blue;
                    g{
                        opacity: 1;
                    }
                    path{
                        fill: $blue;
                    }
                }
            }
            
        }
    }
    &-inner-tab{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        position: relative;
        padding-right: 40px;
        margin-bottom: 15px;
        .num{
            font-weight: 800;
            font-size: 16px;
            line-height: 1.4;
            letter-spacing: 0.15em;
            text-transform: uppercase;
            color: rgba(48, 48, 48, .1);
            min-width: 30px;
            margin-right: 15px;
            transition: all .3s ease;
            svg{
                
                path{
                    transition: all .3s ease;
                }
            }
        }
        .title{
            font-weight: 600;
            font-size: 16px;
            line-height: 1.4;
            color: $dark;

        }
        .control{
            position: absolute;
            top: 0;
            right: 0;
            cursor: pointer;
            transition: all .3s ease;
        }
        .control.active{
            transform: rotate(-180deg);
        }
    }
    &-inner-tab-info{
        display: none;
        padding-left: 45px;
        font-size: 16px;
        line-height: 28px;
        color: #686868;
        padding-bottom: 15px;
    }
    &-bottom{
        .text{
            font-weight: 700;
            font-size: 18px;
            line-height: 28px;
            color: $dark;
            padding: 40px 0;
            b{
                text-transform: uppercase;
            }
        }
        .btn{
            position: relative;
            width: fit-content;
            &:before{
                content: '';
                display: block;
                position: absolute;
                right: -80px;
                top: -20px;
                width: 64px;
                height: 64px;
                background-image: url(../img/practical/prog-arr.png);
                background-size: 100%;
                background-repeat: no-repeat;
                background-position: center;
            }
        }
    }
    &-bg{
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: -1;
        transform: translateX(80%);
    }
    @media(max-width: 1200px){
        &-bg{
            display: none;
        }
    }
    @media(max-width: 991px){
        &-tab{
            padding: 20px;
        }
        &-tab-title{
            font-size: 16px;
        }
        &-tab-about{
            font-size: 14px;
        }
        &-info-container{
            padding: 15px;
        }
    }
    @media(max-width: 768px){
        &-bottom .btn:before{
            width: 40px;
            height:  40px;
        }
    }
    @media(max-width: 600px){
        &-inner-tab{
            flex-direction: column;
        }
        &-tab{
            flex-direction: column-reverse;
        }
        &-tab-left{
            width: 100%;
        }
        &-tab-right{
            width: 60px;
            margin-bottom: 10px;
            img{
                width: 100%;
            }
        }
        &-inner-tab .title{
            font-size: 14px;
            width: 100%;
        }
        &-inner-tab-info{
            font-size: 12px;
            padding-left: 0;
        }
        &-bottom .btn{
            display: flex;
            justify-content: center;
            width: 100%;
            &:before{
                display: none;
            }
        }
    }
}



.da__choose{
    padding: 110px 0;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.1) 4.29%, rgba(0, 255, 111, 0.1) 44.88%, rgba(27, 146, 255, 0.1) 100%), #FFFFFF;
    overflow: hidden;
    &-in{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-bottom: 55px;
        position: relative;
        &:before{
            content: '';
            display: block;
            position: absolute;
            right: -310px;
            top: 120px;
            width: 215px;
            height: 830px;
            z-index: 0;
            background-image: url(../img/practical/choose-left-bg.png);
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: center;
        }
        &:after{
            content: '';
            display: block;
            position: absolute;
            left: -270px;
            top: 200px;
            width: 345px;
            height: 1100px;
            z-index: 0;
            background-image: url(../img/practical/choose-left-bg.png);
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: center;
        }
    }
    &-item{
        width: 48%;
        background: linear-gradient(90.13deg, #6BD0E0 1.11%, #575CDB 72.12%, #8157DB 99.91%);
        border-radius: 16px 16px 0px 0px;
        border-radius: 16px;
        filter: drop-shadow(0px 15px 34px rgba(0, 0, 0, 0.15))
    }
    .title{
        padding: 20px 35px 10px 35px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    .title-time{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 10px;
        svg{
            margin-right: 10px;
        }
        span{
            font-weight: 600;
            font-size: 10px;
            line-height: 1.1;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            color: #FFFFFF;
        }
    }
    .title-name{
        font-weight: 700;
        font-size: 26px;
        line-height: 32px;
        color: #FFFFFF;
    }
    .title__left{
        width: calc(100% - 90px);
    }
    .info{
        background: #F0FAFC;
        border-left: 4px solid #6BD0E0;
        border-right: 4px solid #8158DC;
        padding: 30px;
    }
    .info__title{
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 8px;
        align-items: flex-end;
        span{
            font-weight: 600;
            font-size: 16px;
            line-height: 1.4;
            color: #303030;
        }
        span:nth-child(2){
            flex: 1 0;
            border-bottom: 2px dotted #686868;
            line-height: 1.4;
            margin: 0 8px;
            margin-bottom: 3px;
        }
    }
    .info__list{
        ul{
            margin: 0;
            padding: 0;
            list-style-type: none;
            margin-bottom: 15px;
        }
        li{
            position: relative;
            padding-left: 20px;
            font-size: 14px;
            line-height: 1.1;
            margin-bottom: 4px;
            &:before{
                content: '';
                display: block;
                position: absolute;
                top: 2px;
                left: 0;
                width: 9px;
                height: 9px;
                border-radius: 50%;
                background-color: #575CDB;
            }
        }
    }
    .info__item.gray{
        opacity: .5;
    }
    .bottom{
        padding: 18px 32px 40px 32px;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
    }
    .bottom__price{
        font-weight: 600;
        font-size: 10px;
        line-height: 24px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #FFFFFF;
        b{
            font-size: 48px;
            line-height: 1;
        }
        span{
            font-weight: 500;
            font-size: 18px;
        }
    }
    .bottom__left{
        width: calc(100% - 300px);
    }
    .bottom__right{
        width: 300px;
        position: relative;
    }
    .bottom-right-hint{
        font-size: 12px;
        line-height: 28px;
        letter-spacing: -0.02em;
        color: $dark;
        font-style: italic;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 105%;
        width: 100%;
    }
    .yellow-btn{
        display: inline-block;
        text-decoration: none;
        padding: 17px 36px;
        background: #FFE600;
        border-radius: 5em;
        font-weight: 600;
        font-size: 16px;
        line-height: 18px;
        text-align: center;
        text-transform: uppercase;
        color: $dark;
        transition: all .3s ease;
    }
    &-item.green{
        background: linear-gradient(90deg, #00FF6F 1.04%, #1BFFFF 100%);
        .title-name{
            color: $dark;
        }
        .bottom__price{
            color: $dark;
        }
        .title-time{
            svg{
                path{
                    fill: $dark;
                }
            }
            span{
                color: $dark;
            }
        }
        .info{
            border-left-color: #1BFFFF;
            border-right-color: #01FF70;
        }
        .info__list{
            li{
                &:before{
                    background-color: #10E971;
                }
            }
        }
    }
    &-bottom{
            padding: 4px;
            background: linear-gradient(90deg, rgba(255,65,168,1) 0%, rgba(130,88,219,1) 100%);
            border-radius: 16px;
            position: relative;
    }
    &-bottom-in{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 50px 85px;
        background: linear-gradient(90.13deg, rgba(255, 41, 195, 0.15) 1.11%, rgba(129, 87, 219, 0.15) 99.91%), #FFFFFF;
        box-shadow: 6px 6px 12px rgba(102, 102, 102, 0.17);
        border-radius: 16px;
    }
    .block-border{
        border-left: 1px solid $dark;
        padding-left: 25px;
        font-weight: 600;
        font-size: 18px;
        line-height: 28px;
        color: $dark;
        span{
            display: block;
            font-weight: 400;
            margin-bottom: 20px;
            b{
                font-size: 48px;
                line-height: 50px;
                font-weight: 400;
            }
        }
    }
    &-bottom-left{
        width: 20%;
    }
    &-bottom-center{
        width: 50%;
    }
    &-bottom-center{
        word-wrap: 30%;
    }
    @media(max-width: 1200px){
        &-in{
            flex-direction: column;
            align-items: center;
        }
        &-item{
            width: 80%;
            margin-bottom: 40px;
            &:last-child{
                margin-bottom: 0;
            }
        }
        &-bottom-in{
            padding: 20px 30px;
        }
    }
    @media(max-width: 991px){
        &-bottom-in{
            flex-direction: column;
            align-items: center;
        }
        &-bottom-left{
            margin-bottom: 30px;
            width: 100%;
            text-align: center;
        }
        .block-border{
            width: 70%;
            padding-left: 0;
            padding-top: 30px;
            border-left: none;
            border-top: 1px solid $dark;
            margin-bottom: 30px;
            text-align: center;
        }
    }
    @media(max-width: 768px){
        &-item{
            width: 100%;
        }
        .bottom{
            flex-direction: column;
        }
        .bottom__left{
            width: 100%;
            margin-bottom: 15px;
        }
        .bottom__right{
            width: 100%;
        }
       .title-name{
           font-size: 16px;
           line-height: 1.4;
       }

    }
    @media(max-width: 500px){
        .block-border{
            width: 100%;
        }
        .title{
            padding: 10px 15px;
        }
        .bottom{
            padding: 10px 15px;
        }
        .info{
            padding: 10px;
        }
        .yellow-btn{
            padding: 10px 15px;
            font-size: 12px;
        }
        .bottom-right-hint{
            position: relative;
            top: auto;
            left: auto;
            transform: translate(0);
            line-height: 1.4;
            font-size: 10px;
        }
        .info__title span{
            font-size: 14px;
        }
    }
}

.da__comments{
    &:after{
        display: none;
    }
    .comment__slider-da{
        .item{
            max-width: 760px;
        }
    }
    .body{
        p{
            overflow: hidden;
            height: 290px;
            transition: all .3s ease;
            display: inline-block;
            font-weight: 600;
            line-height: 1.4;
            padding-right: 100px;
        }
        .close{
            display: none;
        }
        p.active{
            height: auto;
        }
        .read-more{
            display: inline-block;
            text-decoration: none;
            line-height: 1;
            &:hover{
                text-decoration: none;
            }
           
        }
        .read-more.active{
            .close{
                display: block;
            }
            .open{
                display: none;
            }
        }
    }
    .comment__title{
        margin-bottom: 50px;
    }
    .section__title-new{
        font-size: 26px;
        line-height: 1.4;
        color: $dark;
        margin: 0;
        span{
            display: block;
            font-weight: 600;
            font-size: 12px;
            line-height: 18px;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            color: #686868;
        }
    }
    @media(max-width: 991px){
        .comment__slider-da{
            .item{
                max-width: 500px;
            }
        }
        .body{
            p{
                height: 250px;
                font-size: 14px;
                padding-right: 50px;
            }
        }
    }
}


.da__footer{
    background: linear-gradient(180deg, rgba(0, 255, 111, 0.1) 0%, rgba(27, 146, 255, 0.1) 100%), #FFFFFF;;
    &:before{
        display: none;
    }
    .footer__container{
        background-color: transparent;
    }
}